.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  color: rgb(5, 111, 21);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.display.show {
  visibility: hidden;
}

.table-row {
  display: flex;
  margin-right: 20px;
}

.user-name {
  margin-right: 50px;
}
